<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="cardBinDAO" class="com.liuyfly.biz.dal.dao.impl.CardBinDAOImpl"/>
    <bean id="sequenceDAO" class="com.liuyfly.biz.dal.dao.impl.SequenceDAOImpl"/>
</beans>